
@{
    var versions = ViewData["subscription"] as IDictionary<string,string>;
    versions.Add("All", "All");
}
Selected Subscription: <select id="subList">
    @foreach (var item in versions.Keys)
    {
        if (item == ViewData["selected_subscription"] as string)
        {
            <option selected="selected" value="@item">@versions[item]</option>
        }
        else
        {
            <option value="@item">@versions[item]</option>
        }
    }
</select>
<br />
<br />