
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div id="forcelink" class="btn btn-default" href="Home/ForcePolicies/@ViewData["selected_subscription"]">Force Policy Check</div>
<br />
<br />

@Html.Partial("~/Views/Shared/_Subscription.cshtml")
<table id="flex"></table>



@section Scripts{
    <script>

        var curSub = '@(ViewData["selected_subscription"])';
        var curSubName = '@(ViewData["selected_subscription_name"])';
        var titleHead = 'Resource Groups';


        $(function() {
            $("#flex").flexigrid(
                {
                    url: '/Home/Getdata/' + curSub + '?rnd=',
                    method: 'GET',
                    dataType: 'json',
                    colModel: [
                        { display: 'Name', name: 'Name', width: 400, sortable: true, align: 'left' },
                        { display: 'SubID', name: 'SubscriptionID', width: 300, sortable: false, align: 'left' },
                        { display: 'vCore', name: 'CurrentcCore', width: 90, sortable: true, align: 'right' },
                        { display: 'Quote', name: 'Quote', width: 90, sortable: true, align: 'right' },
                        { display: 'Enabled', name: 'IsEnabled', width: 90, sortable: true, align: 'left' },
                        { display: 'Check Date', name: 'ReviewDate', width: 160, sortable: true, align: 'left' }
                    ],
                    searchitems: [
                        { display: 'Name', name: 'Name', isdefault: true },
                    ],
                    sortname: "Name",
                    sortorder: "asc",
                    usepager: true,
                    title: titleHead + ' ' + curSubName,
                    useRp: true,
                    rp: 20,
                    rpOptions: [20, 30, 50],
                    showTableToggleBtn: false,
                    resizable: false,
                    singleSelect: true,
                    width: 'auto',
                    height: 465,
                    cache: false,
                    nomsg: 'No resource group found for this subscription'
                }
            );
        });


        $(function () {

            $('#forcelink').click(
                function () {
                    var link = document.getElementById('forcelink').getAttribute("href");
                    $.ajax({
                        url: link,
                        type: "GET",
                        dataType: 'json',
                        success: function (data) { alert(data.message) },
                        fail: function (data) { alert(data.message) } 
                    });
                });

            $('#subList').on('change',
                function () {
                    curSub = this.value;

                    var expiration_date = new Date();
                    var cookie_string = '';
                    expiration_date.setFullYear(expiration_date.getFullYear() + 1);
                    cookie_string = "sb=" + curSub + "; path=/; expires=" + expiration_date.toUTCString();
                    document.cookie = cookie_string;

                    $("#flex")
                        .flexOptions({ url: '/Home/Getdata/' + curSub })
                        .flexOptions({ title: titleHead + ' ' + curSub })
                        .flexReload();

                    //update force link
                    var link = document.getElementById('forcelink').getAttribute("href");
                    link = link.replace(/\/[^/]*$/i, '/' + curSub); 
                    document.getElementById('forcelink').setAttribute("href",link);
                });
        });


    </script>
}